$color_base_selection_bg  : #bbb;
$color_base_selection_text: #fff;

$color_base_placeholder   : #999;

$color_base_links         : blue;
$color_base_links_hover   : black;



$helvetica    : "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia      : Georgia, Cambria, "Times New Roman", Times, serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$verdana      : Verdana, Geneva, sans-serif;
$font_base    : $verdana;