$color_base_selection_bg  : #bbb;
$color_base_selection_text: #fff;

$color_base_placeholder   : #999;

$color_base_links         : blue;
$color_base_links_hover   : black;


$font_base : Verdana, Arial, Helvetica;